In [1]:
import pandas as pd

In [2]:
pd.DataFrame({'A': [1, 2, 3]})

   A
0  1
1  2
2  3

In [3]:
var = pd.DataFrame = {
  "calories": [420, 380, 390],
  "duration": [50, 40, 45]
}

print(var)

{'calories': [420, 380, 390], 'duration': [50, 40, 45]}

In [4]:
var

{'calories': [420, 380, 390], 'duration': [50, 40, 45]}

In [5]:
x = [[1,2,3], [3,7,9]]

### TB: if you get this error then restart the kernal

```
TypeError: 'dict' object is not callable

```

![image](https://datalab.noirlab.edu/docs/manual/_images/restartkernelmenu.png)

In [1]:
import pandas as pd

# create a dictionary of data
data = {'Name': ['John', 'Jane', 'Sam'],
        'Age': [25, 30, 35],
        'City': ['New York', 'Los Angeles', 'Chicago']}

# create a dataframe from the dictionary
df = pd.DataFrame(data)

# write the dataframe to a CSV file
df.to_csv('data.csv', index=False)